---
(async () => {
    try {
        const searchCityInput = document.querySelector("form input");
        let res;

        if (searchCityInput instanceof HTMLInputElement) {
            const searchCityValue = searchCityInput.value;
            res = await fetch(`https://api.openweathermap.org/data/2.5/weather?q=${searchCityValue}&appid=8618719e0c739a0ddc42604f37fd6261`);
        }

        const data = await res?.json();
        console.log(data);
    } catch (error) {
        console.error('Error:', error);
    }
})();

---
<form action="">
    <input type="search" name="" id="">
    <button>Buscar</button>
</form>